body{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background: #85c6e0;
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    text-align: center;
    height: 3vh;
}
li{
    list-style: none;
    text-align: center;
}
a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
a:hover{
    background:rgb(207, 198, 200);
    border-radius: 8px;
}
.biggroup{
    display: flex;
    height: 78vh;
    margin-top: 12px;
    margin-bottom: 12px;
}
span{
    font-size: 24px;
}
.faces{
    width: 80%;
    font-size: 1.4em;
    font-family: sans-serif;
    text-align: center;
    background:rgb(240, 235, 236);
    border-radius: 12px;
    box-shadow: rgba(121, 155, 152, 0.088) 0px -23px 25px 0px inset,
}
p, .faces{
    margin-top: -80px;
}
.classs{
    border-radius: 16px;
    width: 60%;
    height: 56vh;
}

.class{
    width: 98%;
    margin-left: 12px;
    font-size: 1.5em;
    font-family: sans-serif;
    height: 50vh;
}
.class1{
    width: 100%;
    display: flex;
    background:rgb(240, 235, 236);
    border-radius: 12px;
    box-shadow: rgba(121, 155, 152, 0.088) 0px -23px 25px 0px inset,
}
.class2{
    display: flex;
    width: 100%;
    margin-top: 10px;
    background:rgb(240, 236, 237);
    border-radius: 12px;
    box-shadow: rgba(121, 155, 152, 0.088) 0px -23px 25px 0px inset,
}
.class3{
    width: 100%;
    margin-top: 10px;
    display: flex;
    background:rgb(241, 237, 238);
    border-radius: 12px;
    box-shadow: rgba(121, 155, 152, 0.088) 0px -23px 25px 0px inset,
}
.image {
    width: 100%;
}
.index{
    width: 100%;
}
p {
    margin-top: 50px;
}
.images{
    width: 30%;
    height: 20vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin:12px 0px;
    padding: 12px;
    border-radius: 22px;
}
.container{
    background-image: url(/image/1636906475916.JPEG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    margin-top: 4px;
    font-family: sans-serif;
}
.end{
    display: flex;
    justify-content: center;
    padding: 36px;
    width: 28%;
    margin-left: 200px;
    height: 38vh;
    background-color:rgb(168, 196, 146);
    box-shadow: rgba(121, 155, 152, 0.088) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.right{
    margin-left: 16px;
}
button{
    background: #85c6e0;
}
.ends{
    width: 100%;
    height: 32vh;
    margin-right: 16px;
    margin-top: 10px;
}
.container{
    display: flex;
}
.new img{
    width: 100%;
    height: 32vh;
}
.resume{
    margin-left: 16px;
    font-size: 1em;
}
.para{
    display: flex;
}
.para1{
    padding: 6px;
}
.news{
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    padding: 28px;
    width: 28%;
    height: 40vh;
    margin-left: 26px;
    background-color:rgb(168, 196, 146);
    box-shadow: rgba(121, 155, 152, 0.088) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
span{
    color:rgb(248, 247, 246);
}
.well{
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
.wells1{
  margin-left: 4px;
}
.wellss{
    width: 50%;
    height: 50vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
}
.images0{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image0{
    width: 20%;
    height: 28vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 2px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 4px;
    background: #598697;
}
.face{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    height: 6vh;
    width: 38%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 11px;
    padding: 20px;
}
.page{
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-top: 56px;
}
form{
    width: 100%;
    height: 52vh;
    padding: 18px;
    background:rgb(240, 235, 236);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.page1 img{
    width: 80%;
    height: 50vh; 
    margin-top: 25px;
    margin-left: 48px;
    background:rgb(240, 235, 236);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.page1{
    width: 50vh;
    height: 56vh;
    background:rgb(240, 235, 236);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input{
    font-size: 1.5em;
    height: 4vh;
    border-radius: 16px;
}
label{
    font-size: 1.6em;
}
.type{
    background:#598697;
    color: #fff;
}
h2{
    color:#85c6e0 ;
    font-size: 2em;
}
footer img{
    width: 6%;
    height: 8vh;
    padding: 18px;
}
@media(max-width:1440px){
    .end{
        width: 40%;
        height: 50vh;
        margin-top: 26px;
        margin-right: 28px;
    }
    .news{
        margin-top: 26px;
        width: 42%;
        height: 52vh;
        margin-right: 30px;
    }
}
@media(max-width:860px){
    .well{
        flex-wrap: wrap;
        margin-top: 4px;
    }
    .images0{
        flex-wrap: wrap;
        width: 100%;
        height: 40vh;
    }
    .container{
        flex-wrap: wrap;
        height: 100vh;
        margin: auto;
    }
    .biggroup{
        flex-wrap: wrap;
    }
    .page{
        flex-wrap: wrap;
    }
}
@media(max-width:768px){
    nav ul{
        flex-wrap: wrap;
        display: block;
        height: 10vh;
    }
    .wells{
        width: 100%;
        height: 40vh;
    }
    .wells1{
        width: 100%;
        height: 40vh;
    }
    .wellss{
        width: 100%;
        height: 40vh;
    }
    .images0{
        flex-wrap: wrap;
    }
    .faces{
        width: 100%;
    }
    .image{
        margin-top: 4px ;
    }
    .image0{
        width: 100%;
        height: 32vh;
    }
    .end{
        width: 50%;
        height: 40vh;
        margin-top: 8px;
    }
    p{
        margin-top: 6px;
    }
    .news{
        width: 50%;
        height: 40vh;
        margin-bottom: 16px;
    }
    .page{
        display: block;
        margin-top: 12px;
    }
    form{
        text-align: center;
    }
    .page1{
        width: 100%;
        text-align: center;
        margin-top: 12px;
    }
    .foot{
        margin-top: 310px;
    }
    .foot1{
        margin-top: 1060px;
    }
    .foot2{
        margin-top: 590px;
    }
} 
@media(max-width:428px){
    nav ul{
        flex-wrap: wrap;
        display: block;
        height: 10vh;
    }
    .wells{
        width: 100%;
        height: 40vh;
    }
    .wells1{
        width: 100%;
        height: 40vh;
    }
    .wellss{
        width: 100%;
        height: 40vh;
    }
    .images0{
        flex-wrap: wrap;
    }
    .faces{
        width: 100%;
    }
    .image{
        margin-top: 4px ;
    }
    .image0{
        width: 100%;
        height: 32vh;
    }
    .end{
        width: 50%;
        height: 40vh;
        margin-top: 8px;
    }
    p{
        margin-top: 6px;
    }
    .news{
        width: 50%;
        height: 40vh;
        margin-bottom: 16px;
    }
    .page{
        display: block;
        margin-top: 12px;
    }
    form{
        text-align: center;
    }
    .page1{
        width: 100%;
        text-align: center;
        margin-top: 12px;
    }
    .foot{
        margin-top: 310px;
    }
    .foot1{
        margin-top: 1060px;
    }
    .foot2{
        margin-top: 590px;
    }   
}